/* Coolors Exported Palette - https://coolors.co/363020-605c4e-a49966-c7c7a6-ffffff */

/* CSS HEX */
--drab-dark-brown: #363020ff;
--walnut-brown: #605c4eff;
--ecru: #a49966ff;
--sage: #c7c7a6ff;
--white: #ffffffff;

/* CSS HSL */
--drab-dark-brown: hsla(44, 26%, 17%, 1);
--walnut-brown: hsla(47, 10%, 34%, 1);
--ecru: hsla(49, 25%, 52%, 1);
--sage: hsla(60, 23%, 72%, 1);
--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$drab-dark-brown: #363020ff;
$walnut-brown: #605c4eff;
$ecru: #a49966ff;
$sage: #c7c7a6ff;
$white: #ffffffff;

/* SCSS HSL */
$drab-dark-brown: hsla(44, 26%, 17%, 1);
$walnut-brown: hsla(47, 10%, 34%, 1);
$ecru: hsla(49, 25%, 52%, 1);
$sage: hsla(60, 23%, 72%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$drab-dark-brown: rgba(54, 48, 32, 1);
$walnut-brown: rgba(96, 92, 78, 1);
$ecru: rgba(164, 153, 102, 1);
$sage: rgba(199, 199, 166, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #363020ff, #605c4eff, #a49966ff, #c7c7a6ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #363020ff, #605c4eff, #a49966ff, #c7c7a6ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #363020ff, #605c4eff, #a49966ff, #c7c7a6ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #363020ff, #605c4eff, #a49966ff, #c7c7a6ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #363020ff, #605c4eff, #a49966ff, #c7c7a6ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #363020ff, #605c4eff, #a49966ff, #c7c7a6ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #363020ff, #605c4eff, #a49966ff, #c7c7a6ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #363020ff, #605c4eff, #a49966ff, #c7c7a6ff, #ffffffff);
$gradient-radial: radial-gradient(#363020ff, #605c4eff, #a49966ff, #c7c7a6ff, #ffffffff);