:root {
    --drab-dark-brown: #363020;
    --walnut-brown: #605c4e;
    --ecru: #a49966;
    --sage: #c7c7a6;
    --white: #ffffff;
}

/* Custom CSS for video player */
.aspect-w-16 {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
}

.aspect-h-9 {
    height: 0;
}

.aspect-w-16 iframe,
.aspect-h-9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ===================================
   CUSTOM CLASSES
   =================================== */
.semicolon_sidebar_logo {
    width: 60% !important;
    filter: invert(1);
}